@import url(/styles/imports/variables.css);

header, 
header ul {
    display: flex;
}

header,
header button {
    background-color: var(--color-primary);
}

header {
    height: 5rem;
    width: 100%;
    border-bottom: var(--standard-border);
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    gap: 0.5rem;
    margin-right: 1rem;
}

header button {
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-text);
    transition: all 300ms;
}

.view-button.active {
    text-decoration: underline;
    pointer-events: none;
}

.theme-toggler {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 2rem;
    cursor: pointer;
}

@media (hover: hover) {
    .theme-toggler:hover {
        box-shadow: 0 0 16px var(--color-text);
    }

    header button:hover {
        color: var(--color-primary);
    }

    header button:hover, 
    .theme-toggler {
        background-color: var(--color-text);
    }
}

@media (hover: none) {
    .theme-toggler:active {
        box-shadow: 0 0 16px var(--color-text);
    }

    header button:active {
        color: var(--color-primary);
    }

    header button:active, 
    .theme-toggler {
        background-color: var(--color-text);
    }
}