.content__image-container {
    flex: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
}

.image-container__image {
    position: relative;

    & img {
        max-height: 30rem;
        width: 100%;
        object-fit: contain;
    }
}

#thug {
    position: absolute;
    top: 25%;
    left: -9%;
    cursor: pointer;
}

.image-container__circle {
    background-color: var(--color-primary);
    border: var(--standard-border);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 4rem;
    left: -4.5rem
}

@keyframes goMan {
    0% {
      filter:  hue-rotate(-45deg) drop-shadow(16px 16px 40px var(--color-primary));
    }
    100% {
        filter:  hue-rotate(-45deg) drop-shadow(32px 32px 40px var(--color-secondary2));
    }
}

@keyframes goWoman {
    0% {
      filter:  hue-rotate(45deg) drop-shadow(16px 16px 40px var(--color-secondary2));
    }
    100% {
        filter:  hue-rotate(45deg) drop-shadow(32px 32px 40px var(--color-primary));
    }
}

@keyframes thugLife {
    0% {
      top: -100%;
    }
    100% {
        top: 25%;
    }
}

@keyframes thugging {
    0% {
      top: 25%;
    }
    10%, 90% {
        top: 35%;
    }
    100% {
        top: 25%;
    }
}

@media screen and (min-width: 700px) {
    .content__image-container {    
        border-left: var(--standard-border);
    }

    .image-container__image {
        width: 70%;
    }
}

