.content__image-container {
    flex: 3;
    background-color: var(--color-secondary);
    border-left: var(--standard-border);
    position: relative;
    display: flex;
    justify-content: center;

    & img {
        max-height: 30rem;
        width: 80%;
        object-fit: contain;
        cursor: pointer;
        filter:  hue-rotate(-45deg) drop-shadow(16px 16px 40px var(--color-secondary2));
        transform: scale(1);
        animation: goMan 4s ease-in-out 1;
    }
}

.image-container__circle {
    background-color: var(--color-primary);
    border: var(--standard-border);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 6rem;
    left: -4.5rem
}

@keyframes goMan {
    0% {
      filter:  hue-rotate(-45deg) drop-shadow(16px 16px 40px var(--color-secondary2));
      transform: scale(0.01);
    }
    100% {
        filter:  hue-rotate(-45deg) drop-shadow(32px 32px 40px var(--color-secondary2));
        transform: scale(1);
    }
}

