.content__image-container {
    flex: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;

    & img {
        max-height: 30rem;
        width: 50%;
        object-fit: contain;
        cursor: pointer;
        transform: scale(1);
    }
}

.image-container__circle {
    background-color: var(--color-primary);
    border: var(--standard-border);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 4rem;
    left: -4.5rem
}

@keyframes goMan {
    0% {
      filter:  hue-rotate(45deg) drop-shadow(16px 16px 40px var(--color-primary));
      transform: scale(0.98);
    }
    100% {
        filter:  hue-rotate(-45deg) drop-shadow(32px 32px 40px var(--color-secondary2));
        transform: scale(1);
    }
}

@keyframes goWoman {
    0% {
      filter:  hue-rotate(-45deg) drop-shadow(16px 16px 40px var(--color-secondary2));
      transform: scale(0.98);
    }
    100% {
        filter:  hue-rotate(45deg) drop-shadow(32px 32px 40px var(--color-primary));
        transform: scale(1);
    }
}

@media screen and (min-width: 700px) {
    .content__image-container {    
        border-left: var(--standard-border);

        & img {
            width: 70%;
        }
    }
}

