.content__main {
    flex: 5;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.main-header {
    height: 6rem;
    border-bottom: var(--standard-border);
    display: flex;
    align-items: center;
    transition: all 1s;
}

.main-header h1 {
    padding-left: 1.5rem;
}

.main-header__nav {
    margin-right: 1rem;
}

.main-content {
    background-color: var(--color-white);
    padding: 6px;
    display: flex;
    overflow-x: scroll;
    gap: 6px;
    border-bottom: var(--standard-border);
}


.main-content__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.main-content__card {
    width: 100%;
    min-width: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-snap-type: both mandatory;
    transition: all 2s;
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    
.card__header a {
    padding: .25rem;  
}

.card__header a h2 {
    font-size: 1.5rem;
}

.card__header a:hover {
    box-shadow: 1px 1px 64px var(--color-white);
}

.main-content__card img {
    width: 100%;
    max-height: 50%;
    object-fit: contain;
}

.main-content__card a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 4px;
    transition: all 300ms;
}

.card__github-btn { 
    width: 30%;
    height: 2rem;
    background-color: var(--color-white); 
}

.card__github-btn :first-child {
        flex: 2;
    }

.card__github-btn :last-child {
    flex: 1;
    height: 12px;
    width: 12px;
}

 .card__github-btn:hover {
    background-color: var(--color-black);
 }

.card__github-btn:hover img {
    filter: invert(100%);
}

@media screen and (min-width: 700px) {
    .main-header {
        height: 8rem;
    }
    
    .main-content {
        height: 30rem;
        flex-wrap: wrap;
        border-bottom: none;
        overflow-x: visible;
        overflow-y: scroll;

        & .main-content__about {
            padding: 0;
        }
    }

    .main-content__card {
        height: 93%;

        & .card__header a h2 {
            font-size: 2rem;
        }
    }
}
