.content__main,
.main-header,
.main-header__filter-buttons,
.main-content,
.main-content__about,
.about__showcase,
.about__study-progress,
.main-content__card,
.card__header,
.main-content__card a {
    display: flex;
}

.content__main,
.main-header,
.main-content__card,
.main-content__about,
.about__study-progress,
.card__header {
    flex-direction: column;
}

.main-header,
.about__study-progress,
.card__header {
    justify-content: center;
}

.about__study-progress,
.main-content__card,
.card__header,
.main-content__card a {
    align-items: center;
}

.main-content__about,
.about__showcase,
.main-content__card,
.main-content__card a {
    justify-content: space-between;
}

.main-content__about,
.main-content__card,
.main-content__card img {
    width: 100%;
}

.filter-button,
.main-content__card a {
    cursor: pointer;
}

.content__main {
    flex: 5;
    overflow-y: hidden;
}

.main-header {
    height: 8rem;
    border-bottom: var(--standard-border);
    transition: all 1s;
}

.main-header h1,
.main-header__filter-buttons {
    padding-left: 1.5rem;
}

.main-header__filter-buttons {
    margin-top: .25rem;
    gap: 4px;
}

.filter-button {
    padding: 4px 12px;
    color: var(--color-black);
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
}

.filter-button.active {
    pointer-events: none;
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: 0 0 2px var(--color-black);
}

.main-content {
    background-color: var(--color-background);
    padding: 6px;
    overflow-x: scroll;
    gap: 6px;
    border-bottom: var(--standard-border);
}

.main-content__about {
    padding: 1rem;
    gap: 1rem;
}

.about__about > * {
    margin-bottom: 4px;
}

.about__header {
    font-size: 2.5rem;
}

.about__sub-header {
    font-size: 1.5rem;
}

.about__paragraph {
    font-size: 1rem;
}

.about__showcase {
    gap: .5rem;
}

.showcase {
    flex: 1;
}

.showcase__paragraph {
    font-size: .75rem;
}

.study-progress__progress {
    width: 90%;
    height: 1rem;
    max-width: 15rem;
    background-color: #f2f2f2;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px var(--color-text);
}

.progress__bar {
    height: 1rem;
    border-radius: 8px;
}

.about__media-links {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.about__media-links img {
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 8px;
    width: 1rem;
    object-fit: contain;
    transition: all 300ms;
}

.about__media-links a img:hover {
    filter: invert(100%);
}

.main-content__card {
    min-width: 15rem;
    padding: 1rem;
    scroll-snap-type: both mandatory;
    transition: all 2s;
}

.main-content__card img {
    max-height: 50%;
    object-fit: contain;
}

.main-content__card a {
    gap: 8px;
    border-radius: 4px;
    transition: all 300ms;
}

.card__header {
    text-align: center;
}
    
.card__header a {
    padding: .25rem;  
}

.card__header a h2 {
    font-size: 1.5rem;
}

.card__github-btn { 
    width: 30%;
    height: 2rem;
    background-color: var(--color-white); 
}

.card__github-btn :first-child {
        flex: 2;
    }

.card__github-btn :last-child {
    flex: 1;
    height: 12px;
    width: 12px;
}

/* ::view-transition-group(root) { }

::view-transition-old(root) { }

::view-transition-new(root) { } */

@keyframes growBar {
    0% {
        width: 0px;
        background-color: var(--color-progress0);
    }
     50% {
        background-color: var(--color-progress1);
     }
}

@keyframes displayNumber {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (hover: hover) {

    .filter-button:hover {
        background-color: #d3d3d3;
    }

    .card__github-btn:hover {
       background-color: var(--color-black);
    }
   
   .card__github-btn:hover img {
       filter: invert(100%);
   }
}

@media (hover: none) {

    .filter-button:active {
        background-color: #d3d3d3;
    }

    .card__github-btn:active {
       background-color: var(--color-black);
    }
   
   .card__github-btn:active img {
       filter: invert(100%);
   }
}


@media screen and (min-width: 700px) {
    .main-header {
        height: 8rem;
    }
    
    .main-content {
        height: 30rem;
        flex-wrap: wrap;
        border-bottom: none;
        overflow-x: visible;
        overflow-y: scroll;
    }
    
    .about__header {
        font-size: 3rem;
    }

    .about__sub-header {
        font-size: 1.5rem;
    }

    .about__paragraph {
        font-size: 1rem;
    }

    .showcase__paragraph {
        font-size: .75rem;
    }

    .main-content__card {
        height: 93%;
    }
    
    .card__header a h2 {
        font-size: 2rem;
    }
}