
@import url(/styles/imports/variables.css);
@import url(/styles/imports/constants.css);

@import url(/components/header/header.css);
@import url(/components/image-container/image-container.css);
@import url(/components/main/main.css);

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1100px;
    margin: auto;
    border: var(--standard-border);
    position: relative;
    font-family: var(--font-family-headers);
    color: var(--color-text);
}

h1 { font-size: 3.5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }

p {
    font-family: 'Courier New', Courier, monospace;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@media screen and (min-width: 700px) {
    h1 { font-size: 4.5rem; }
    h2 { font-size: 3.5rem; }
    h3 { font-size: 2.5rem; }

    .content {
        flex-direction: row;
    }
}
